

.container {
  background-size: cover;
  background-image: url(/bg.svg);
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 1rem;
}

.darkBg {
  background: #256659;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.headerInner {
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: fit-content;
}

.menu {
  display: grid;
  grid-column-gap: 128px;
  grid-auto-flow: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.btn {
  padding: 10px 24px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  border: none;
  white-space: nowrap;
  color: #fff;
  background: linear-gradient(123.99deg, #F89800 1.5%, #004A56 74.51%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.btnLarge {
  width: 100%;
  font-size: 16px;
  line-height: 200%;
}

.content {
  padding: 50vh 0 0 4rem;
}

.title {
  font-size: 128px;
  line-height: 100%;
  margin: 0;
}

.subTitle {
  font-size: 48px;
  line-height: 100%;
  margin: 0;
}

.white {
  color: #fff;
}

.orange {
  color: #EEC04B;
}

.socialIconsSection {
  display: flex;
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
}

.socialIcon {
  margin-right: 50px;
}

@media (max-width: 1115px) {
  .btnSection {
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    justify-self: center;
    max-width: 1115px;
    padding: 1rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    height: 72px;
  }
}